/* NAVBAR */
.navbar-custom {
    background: var(--navy);
    padding: 15px 0;
}

.nav-link {
    color: #00e5ff !important;
    margin-left: 20px;
    font-weight: 500;
}

.nav-link:hover {
    color: var(--white) !important;
}
.navbar-toggler {
  border: 1px solid rgba(255,255,255,0.3);
}

.navbar-toggler-icon {
  filter: brightness(0) invert(1);
}
.logo-img {
    width: 180px;
    max-width: 100%;
   }
/* HERO */
/* HERO */
:root {
    --teal: #00bcd4;
    --teal-dark: #0097a7;
    --teal-deep: #006978;
    --navy: #1a2535;
    --navy-light: #243347;
    --charcoal: #2c3e50;
    --slate: #37474f;
    --light: #f0f4f8;
    --white: #ffffff;
    --accent: #00e5ff;
}
/* HERO */
.service-hero {
 
  color: #00bcd4;
  padding: 80px 20px;
}

.service-title {
  font-size: 48px;
  font-weight: bold;
}

.service-subtitle {
  color: #cbd5e1;
  margin-top: 10px;
}

/* SERVICE BOX */
.service-box {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
  padding-bottom: 15px;
}

.service-box img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: 0.4s;
}

/* hover image */
.service-box:hover img {
  transform: scale(1.1);
}

.service-box h4 {
  padding: 15px 15px 5px;
  color: #1a2535;
}

.service-box p {
  padding: 0 15px;
  color: #555;
}

/* hover card */
.service-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

/* FOOTER */
.footer-custom {
    background: var(--navy);
    color: white;
    padding: 25px;
}

.footer-section {
  background: #1a2535;
  color: white;
}

/* LOGO */
.footer-logo {
  width: 150px;
}

/* TEXT */
.footer-navigation {    
  list-style: none;
  padding: 0;
  margin: 0;
}
a.footer-text { 
  text-decoration: none !important;
}
.footer-text {
  color: #cbd5e1;
  font-size: 14px;
  margin-bottom: 10px;
}
.footer-text:hover {
  color: var(--teal);
  font-size: 14px;
  margin-bottom: 10px;
}
/*social*/
 .footer-social { display:flex; gap:10px; margin-top:20px;}
  .social-btn { width:38px; height:38px; background:rgba(0,188,212,0.1); border:1px solid rgba(0,188,212,0.2); border-radius:50px; display:flex; align-items:center; justify-content:center; color:var(--teal); font-size:0.9rem; text-decoration:none; transition:all .3s; }
  .social-btn:hover { background:var(--teal); color:var(--white); transform:translateY(-2px); }
/* TITLES */
.footer-title {
  color: #00e5ff;
  font-weight: bold;
  margin-bottom: 15px;
}

/* ICONS */
.footer-text i {
  margin-right: 8px;
  color: #00bcd4;
  text-decoration: none;
}

/* BOTTOM */
.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.15);
  padding-top: 20px;
  font-size: 13px;
  color: #94a3b8;
}